ul{
    display:flex;
    margin-left: 30%; 
}
li{
    list-style-type:none;
    margin-right: 35px;
}
li:active{
    border: none;
    border-bottom: black;
}
.heading{
   
        font-size: 18px;
        font-weight: 500;
        font-family: 'Roboto', sans-serif;
   
}
@media  screen and (min-width: 768px) and  (max-width:991px){
    ul{
        margin-left: 20%;
    }
}
@media  screen and  (max-width:767px){
    ul{
        margin-left: 0;
    }
    li{
        margin-right: 12px;
    }
    .heading{
        font-size: 16px;
    }
 }