.body{
    top:0;
    left: 0;
    margin: 0;
    @extend .poppins;
}
.roboto{
    font-family: 'Roboto', sans-serif;
}
.poppins{
    font-family: 'Poppins', sans-serif;
}
.Hospital{
     @extend .roboto;
     font-size: 30px;
     font-weight: bolder;
     margin-left: 40px;
     margin-top: 50px;
}

.summary{
    @extend .poppins;
    margin-left: 40px;
    font-size: 16px;
}

.summarybox{
    @extend .summary;
    width: 500px;
    height: 120px;
    padding: 5px;
}

.hospitalimg{
    width: 800px;
    float: right;
    margin-top: -250px;
}

.select{
    @extend .poppins;
    margin-left: 40px;
     margin-top: 50px;
     font-size: 14px;
}

// Drop Down

.dropbtn {
    background-color: #01E0AD;
    color: white;
    padding: 8px;
    font-size: 10px;
    margin-left: 40px;
    border: none;
    border-radius: 10%;
    cursor: pointer;
    @extend .poppins;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #f1f1f1}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .dropdown:hover .dropbtn {
    background-color: #3e8e41;
  }

//   Drop Down ends

// State Box

.statebox{
  width: 400px;
  height: 200px;
  background-color: #01E0AD;
  margin-top: 50px;
  margin-left:250px ;
padding: 20px;
  .srb{
    float: right;;margin-top: -46px;
  }
  .sub{
    float: right;;margin-top: -44px;
  }
  .stb{
    float: right;;margin-top: -44px;
  }
}










// Table
.adjustment{
  margin-top: 100%;
}

table th,
table td{
  text-align: center;
}
table.layout{
  width: 100%;
  border-collapse: collapse;
  /* border: none; */
}
table.display{
  margin: 1em 0;
}
table.display th,
table.display td{
  border: none;
  padding: .5em 1em;
}

table.display th{ background: #01E0AD; }
table.display td{ background: #fff;}

table.responsive-table{
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);
}
/* table.display tfoot td:nth-child(n){background: sandybrown;} */
@media (max-width: 991px){
    table.responsive-table{
      box-shadow: none;  
    }
    table.responsive-table thead{
      display: none; 
    }
  table.display th,
  table.display td{
    padding: .5em;
  }
    
  table.responsive-table tbody td:nth-child(1):before{
    content: 'S.NO';
  }
  table.responsive-table tbody td:nth-child(2):before{
    content: 'ITEM';

  }
  table.responsive-table tbody td:nth-child(3):before{
    content: 'ITEM PRICE';
  }
  table.responsive-table tbody td:nth-child(4):before{
    content: 'QUANTITY';
  }
  table.responsive-table tbody td:nth-child(5):before{
    content: 'PRICE';
  } 
  /* table.responsive-table td:nth-child(1), */
  table.responsive-table td:nth-child(n){
    padding-left: 25%;
  }
  /* table.responsive-table td:nth-child(1):before, */
  table.responsive-table td:nth-child(n):before{
    position: absolute;
    left: .5em;
    font-weight: bolder;
  }
  
    table.responsive-table tr,
    table.responsive-table td{
        display: block;
    }
    table.responsive-table tr{
        position: relative;
        margin-bottom: 1em;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);
    }
    table.responsive-table td{
        border-top: none;
    }
    table.responsive-table td.organisationnumber{
        background: #D5E0CC;
        border-top: 1px solid #B3BFAA;
    }  
   /* table tfoot tr{display:flex;flex-direction: row;} */
  }


  // Responsive Ness

  @media only screen and (min-width: 991px) and  (max-width:1024px){


  }

  @media only screen and (max-width: 991px) and  (min-width:768px){}

  @media  screen and  (max-width:767px){}