<div class="head">
    <div class="head-display">
        <div class="head-content">
            <div class="heading1">CORONA</div>
            <div class="heading2">Virus Disease (COVID-19)</div>
            <div class="text">Pray for coronavirus Victims.The virus was first reported in Wuhan,<br>
            Hubai,Chaina on 17 November 2019, and on 11 March 2020, the<br>
        World Health Organisation (WHO) declared the<br>
    outbreak a pendamic. </div>
    <br>
    <button class="buttonStyle filledBtn">How to control!</button>
        </div>
        <div class="image">
            <img src="../../assets/Group 1.png" >
        </div>
    </div>
</div>


<div class="case-card">
    <div class="subcase col"><div class="heading2" style="color: red ;text-align: center;"   >255</div><div class="sub-text"    >Affected Countries</div></div>
    <div class="subcase col"><div class="heading2" style="color:red  ;text-align: center;"   >285555</div><div class="sub-text" >Confirmed Cases</div></div>
    <div class="subcase col"><div class="heading2" style="color:green;text-align: center;" >20555</div><div class="sub-text"    >Recovered cases</div></div>
    <div class="subcase col"><div class="heading2" style="color: red ;text-align: center;"   >4000</div><div class="sub-text"   >WorldWide Deaths</div></div>
</div>